/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --bg: #fff;
    --theme-main: #e02c6d;
    --theme-blue: #2d25a0;
    --border-tomato: tomato;
}

/*==========================================================
+++++++++++++++ Common and Utilities Style  ++++++++++++++++
============================================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    margin: 70px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 10px 24px;
    background-color: var(--theme-main);
    text-align: center;
    transition: box-shadow 0.4s ease;
}

.btn:hover {
    box-shadow: 0 0 10px rgb(87, 85, 84);
    background-color: tomato;
}

.section-title {
    width: 100%;
    padding: 10px 0;
}

.section-title h2 {
    display: inline-block;
    font-size: 40px;
    border-bottom: 3px solid var(--border-tomato);
}

.menu-item a {
    font-size: 16;
    transition: all 0.3s ease;
}

.menu-item:hover a {
    background-color: tomato;
    padding: 5px 20px;
    border-radius: 2px;
}

.description {
    font-size: 16px;
    color: #6c6c6c;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*==========================================================
++++++++++++++++++++++++  Header  ++++++++++++++++++++++++++
============================================================*/

.header {
    width: 100%;
    padding: 42px 0;
    background-color: var(--theme-blue);
}


/*==========================================================
++++++++++++++++++    Navigation Bar     +++++++++++++++++++
============================================================*/
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
}

.menu-container {
    position: relative;
    width: 50%;
}

.menu-container label {
    width: 100%;
    display: none;
    font-size: 30px;
    color: var(--bg);
    text-align: right;
}

.menu-container label .fa-times {
    color: #000;
    text-align: right;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
}

.menu-item a {
    color: #fff;
}

.header-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
}

.header-texts {
    width: 500px;
    max-width: 50%;
}

.header-title {
    font-size: 64px;
    color: #fff;
    line-height: 80px;
    margin-bottom: 27px;
}

.header-bg {
    width: 550px;
    max-width: 50%;
}

.header-bg img {
    transition: transform 2.5s ease;
}

.header-bg:hover img {
    transform: rotate(360deg) translate(-10px, 10px);
}

/*==========================================================
+++++++++++++++++++++++   Players   ++++++++++++++++++++++++
============================================================*/

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    padding: 0 30px;
}

.players-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 0 40px 12px #00000021;
}

.player-img {
    overflow: hidden;
}

.players-card:hover .player-img img {
    transform: scale(1.2);
}

.player-img img {
    transition: 0.3s;
    width: 100%;
}

.player-name {
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin: 16px 0;
}

.player-info {
    width: 100%;
    font-size: 16px;
    color: #6c6c6c;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*==========================================================
++++++++++++++++++++   All Highlights   ++++++++++++++++++++
============================================================*/

.highlight-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
}

.highlight-texts {
    width: 500px;
    max-width: 50%;
}

.highlight-title {
    font-size: 48px;
    color: #000;
    line-height: 60px;
    margin-bottom: 27px;
}

.highlight-bg {
    width: 550px;
    max-width: 50%;
    overflow: hidden;
}

.highlight-bg img {
    transition: 0.3s;
    width: 100%;
}

.highlight-bg img:hover {
    transform: scale(1.2);
}


/*==================================================
++++++++++++++++++++    Live    ++++++++++++++++++++
====================================================*/

.live-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .live-match {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .live-match h3 {
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px solid var(--border-tomato);
  }
  .live-wrapper iframe {
    width: 95%;
    max-width: 720px;
    aspect-ratio: 16/9;
  }



  .gallery-wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding: 20px;
  }
  .gallery_-item {
    box-shadow: 1px 1px 8px #00000055;
    overflow: hidden;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  .gallery-item img:hover {
    transform: scale(1.2);
  }
  .wide {
    grid-column: span 2;
  }
/*==================================================
++++++++++++++++++++   Footer   ++++++++++++++++++++
====================================================*/

footer {
    width: 100%;
    margin-top: 64px;
    padding-bottom: 64px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper img {
    width: 400px;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px 0;
}

.social i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    color: #546ab1;
    background-color: #969bab5e;
}

.copyright {
    font-size: 18px;
}


/*=====================================================
++++++++++++++++++++  For Tablet   ++++++++++++++++++++
=======================================================*/
@media screen and (max-width: 768px) {
    /* --------GLOBAL---------- */
    .container {
      width: calc(100% - 30px);
    }
    section {
      margin: 40px 0;
    }
    .btn {
      padding: 8px 18px;
    }
    .section-title {
      font-size: 24px;
    }
  
    /* ---------------------------*\
                 Header
    \*----------------------------*/

    /* --------------navbar--------------*/
    .menu-container {
      width: 40px;
      height: 40px;
    }
    .menu {
      position: absolute;
      left: -16px;
      top: -45px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: var(--bg);
      width: 250px;
      height: 100vh;
      border-radius: 10px;
      padding: 10px;
    }
    .menu-item {
      margin-bottom: 4px;
      display: block;
      width: 100%;
      border-radius: 5px;
      background-color: var(--theme-main);
    }
    .menu-item a {
      display: block;
      padding: 10px;
      color: var(--bg);
    }
    .menu-container label {
      display: inline-block;
    }
    #menu-toggle:checked ~ .menu {
      width: 0;
      left: -100px;
      visibility: hidden;
    }
    /* ----------------------------------------- */
  
    .header-texts,
    .header-bg {
      padding: 10px;
    }
    .header-title {
      font-size: 36px;
      line-height: 50px;
      font-weight: bold;
    }
  
    .players {
      grid-template-columns: 1fr 1fr;
      padding: 10px;
    }
  
    /* ---------------------------*\
             Highlights
    \*----------------------------*/
    .highlight-texts,
    .highlight-bg {
      padding: 10px;
    }
    .highlight-title {
      font-size: 30px;
      font-weight: bold;
      line-height: 40px;
    }
  
    /* ---------------------------*\
                  Footer
    \*----------------------------*/
    .footer-wrapper img {
      width: 300px;
    }
    .social {
      width: 200px;
    }
  }
  
/*======================================================
++++++++++++++++++++   For Mobile   ++++++++++++++++++++
========================================================*/
  
  @media screen and (max-width: 480px) {
    
    /* ---------------------------*\
                  Header
    \*----------------------------*/
  
    .header-main {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0;
    }
    .header-texts,
    .header-bg {
      width: 100%;
      max-width: 100%;
      padding: 20px 0;
    }
    .header-title {
      font-size: 36px;
      line-height: 50px;
      font-weight: bold;
    }
  
    .players {
      grid-template-columns: 1fr;
      padding: 0;
    }
  
    /* ---------------------------*\
             Highlights
    \*----------------------------*/
    .highlight-wrapper {
      flex-direction: column;
      padding: 0;
    }
    .highlight-texts,
    .highlight-bg {
      max-width: 100%;
      padding: 30px 0;
    }
    .highlight-title {
      font-size: 30px;
      font-weight: bold;
      line-height: 40px;
    }
  
    /* ---------------------------*\
                  Footer
    \*----------------------------*/
    .footer-wrapper img {
      width: 250px;
    }
    .social {
      width: 170px;
    }
  }